{% extends "base.html" %}
{% block content %}
<div class="card mx-auto border-secondary col-8 mb-4 d-flex p-3">
  <h2 class="text-center">Update your Password</h2>
  <form class="card-body mx-auto flex-column mb-0" action="/changePassword" method="POST">
    <input class="mb-2" type="password" name="oldPassword" placeholder="Old Password"><br>
    <input class="mb-4" type="password" name="newPassword" placeholder="New Password"><br>
    <div class="d-flex">
      <button class="mx-auto btn btn-outline-secondary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}