{% extends "base.html" %}
{% block content %}
<div class="card mx-auto border-secondary col-8 my-5 d-flex p-3">
  <h2 class="text-center">Login</h2>
  <form class="card-body mx-auto flex-column mb-0" action="/" method="POST">
    <input class="mb-2" type="text" name="username" placeholder="Username"><br>
    <input class="mb-4" type="password" name="password" placeholder="Password"><br>
    <div class="d-flex">
      <button class="mx-auto btn btn-outline-secondary" type="submit">Sign In</button>
    </div>
  </form>
  <div class="d-flex">
    <a class="mx-auto" href="/signup">Create an Account</a>
  </div>
</div>
{% endblock %}